#about-us {
    display: flex;
    margin: 0 20px 8px;
    background-color: #f4d147;
    border-radius: 8px;
}

.content {
    margin: 5px;
}

.content > figcaption {
    text-align: center;
}

.table {
    background-color: #c49b07;
}