#recipe {
    padding: 20px;
}

#section {
    display: flex;
}

#section > img {
    width: 1500px;
    height: 500px;
}

#section > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}